.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 11px 12px 9px;
  border: 1px solid $orange;
  border-radius: 25px;
  background-color: transparent;
  color: $white;

  &--white {
    color: $blackish;
  }

  &--reservation {
    padding: 12px 38px;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: $orange;
  color: $white;
}
